*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.continer{
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

.continer img{
    transform: rotate(0.1deg);
}

.img-3{
    margin-left: -11px;
    margin-top: -4px;
}